.profile__add-btn {
  box-sizing: border-box;
  padding: 12px 60px;
  font-size: 40px;
  line-height: 25px;
  font-weight: 400;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile__add-btn {
    width: 100%;
  }
}
