.profile__image-edit-btn {
  cursor: pointer;
  border: none;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 0;
  background: url(../../../images/edit-icon.svg) no-repeat center center rgba(0,0,0, .8);
  opacity: 0;
  transition: opacity .5s;
}

.profile__image-edit-btn:hover {
  opacity: 1;
}
