.header__logo-image {
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 630px) {
  .header__logo-image {
    width: 104px;
    height: 25px;
  }
}

@media screen and (max-width: 430px) {
  .header__logo-image {
    margin-left: 27px;
  }
}
