.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background: url(../../../images/close-btn.svg) no-repeat center center;
  width: 32px;
  height: 32px;
  background-size: cover;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
