.profile__info {
  display: grid;
  align-items: center;
  color: #fff;
  margin-right: 24%;
  grid-template-areas:
  	"name button"
  	"description description";
}

@media screen and (max-width: 1210px) {
  .profile__info {
    margin-right: 0;
  }
}

@media screen and (max-width: 630px) {
  .profile__info {
    margin-bottom: 31px;
  }
}
