.card__like-btn {
  background: transparent url(../../../images/like.svg) no-repeat center center;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity .15s linear;
}

.card__like-btn:hover {
  opacity: 50%;
}
